version: 2.1

orbs:
  aws-s3: circleci/aws-s3@3.0.0

image: &image
  docker:
    - image: cimg/node:18.7.0
  resource_class: medium+

setup: &setup
  - run:
      name: Setup
      command: |
        sudo npm install -g pnpm
        pnpm install eslint
        pnpm install

jobs:
  test:
    <<: *image
    steps:
      - checkout
      - <<: *setup
      - run:
          name: Test 
          command: pnpm test
  build:
    <<: *image
    parameters:
      public-domain:
        type: string
    environment:
      PUBLIC_DOMAIN: << parameters.public-domain >>
    steps:
      - checkout
      - <<: *setup
      - run:
          name: Build 
          command: pnpm build
      - aws-s3/sync:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          from: dist
          to: "s3://$S3_ASSETS_BUCKET/$CIRCLE_PROJECT_REPONAME/<<pipeline.git.tag>>"

workflows:
  version: 2.1
  run-tests:
    jobs:
      - test:
          context: commercelayer
          filters:
            tags:
              ignore: /v.*/
  
  test-build-and-push:
    jobs:
      - test:
          context: commercelayer
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*).*/
            branches:
              ignore: /.*/
      - build:
          public-domain: commercelayer.io
          requires:
            - test
          context: commercelayer
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*).*/
            branches:
              ignore: /.*/